.mainDiv {
  display: flex;
  overflow: hidden;
}

.calculatorForm {
  flex: 1;
  max-width: 10%;
}

.functionPlot {
  flex: 1;
  max-width: 15%;
}

@media (max-width: 768px) {
  .mainDiv {
    flex-direction: column;
  }
}
