.mainDiv {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.mainDiv input,
select,
button {
  padding: 14px;
  margin: 3px;
  border-radius: 13px;
  outline: none;
  border: none;
  background-color: rgb(218, 218, 218);
}

.mainDiv select,
input {
  color: #3f86ff;
  font-weight: bold;
  font-size: 14px;
}

.mainDiv button {
  border: 1px solid transparent;
  padding: 0.7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3f86ff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.mainDiv button:hover {
  border-color: #ffffff;
  background-color: #156afc;
}
.mainDiv button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
